body{
    background-color: rosybrown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(54, 26, 31);
}

header{
    text-align: center;
    font-size: 1.2em;
    color:rgb(109, 8, 17);
}


form{
    height: max-content;
    width: 420px;
    border: solid;
    margin-left: 20px;
    background-color: rgb(173, 50, 71);
    right: 10px;
        }

#rocketlist{
    margin-top: 5em;
    border:solid;
    color: white;
    border-width: thin;
    width: 20em;
    height: 25em;
    background-color: rgb(173, 50, 71) ;
}


button{
    margin-top: 1em;
    background-color:thistle;
    float: left;
    width: auto;
    cursor: pinter;
}

button:hover{
    opacity: 0.4;
}

canvas{
    margin-top: -62em;
    position:relative;
    float: right;
    border:solid;
}
