h1{
    margin-left: 550px;
    font-style: arial;
    font-size: 2em;
}

label{
    font: arial;
}

canvas{
    position:relative;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    border:solid;
}

#horizon{
    border:black;
}

body{
    background-color: rosybrown;
}

form{
    position: relative;
    height: max-content;
    width: 420px;
    border: solid;
    margin-left: 20px;
    background-color: rgb(173, 50, 71);
    right: 10px;
        }
    
#RocketList{ 
    float:right;
    height: 400px;
    width: 400px;
    border: solid;
    background-color:rgb(173, 50, 71);
    right: 10px;
    margin-top: -100px;
}

#RocketList_Btn{
    float: right;
    position: relative;
    margin-top: 400px;
    width: 800px;
    border:solid;
    background-color:rgb(173, 50, 71);

}